.formContainer {
  width: 780px;
  min-height: 966px;
  /* height: 1003px; */
  background-color: white;
  padding-inline: 54px;
  padding-top: 50px;
  padding-bottom: 25px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.desc {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.formTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 26px;
}

.title {
  color: #222222;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

.stepper {
  margin-bottom: 26px;
}

.formBody {
  flex: 2;
}
