/* Section Container */
.membershipPlansContainer {
  padding: 6rem 2rem;
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.gradientLeft,
.gradientRight {
  position: absolute;
  top: 0;
  width: 100px; /* Adjust the width for a smoother transition */
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.gradientLeft {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  ); /* Softer gradient */
}

.gradientRight {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  ); /* Softer gradient */
}

.plansWrapper {
  width: 100%;
  height: 100%;
  padding: 6rem 0;
  margin-top: 2rem;
}

/* Card Styles */
.planCard {
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 481px;
  height: 700px;
  display: flex;
  border: "1px solid #DDDDD1";
  flex-direction: column;
  margin: 0;
  transform: scale(0.95);
  opacity: 0.7;
}

.swiper-slide {
  background-color: #eb3778;
}

:global(.swiper-slide-active) .planCard {
  transform: scale(1);
  opacity: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

:global(.swiper-slide-active) .planButton {
  background-color: #eb3778;
  color: white;
  border: none;
}
:global(.swiper-slide-active) .planButton:hover {
  background-color: #f06e9e;
  color: white;
  border: none;
}

.planImageContainer {
  width: 100%;
  height: 312px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.planImageContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.planImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.planTitle {
  position: relative;
  font-size: 1.75rem;
  font-weight: 700;
  color: white;
  margin: 0;
  z-index: 2;
  text-align: center;
  padding: 8px 16px;
  background: none;
  backdrop-filter: none;
}

.planContent {
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

/* Typography */
.priceSection {
  margin-bottom: 0.75rem;
}

.startingFrom {
  display: block;
  font-size: 0.8rem;
  color: #718096;
  margin-bottom: 0.25rem;
}

.price {
  font-size: 1rem;
  font-weight: 700;
  color: #2d3748;
}

.description {
  color: #4a5568;
  margin: 0;
  line-height: 1.4;
  font-size: 1rem;
}

/* Features */
.featuresSection {
  flex-direction: column;
  margin-top: 0.75rem;
}

.featuresTitle {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #2d3748;
}

.featuresList {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  max-height: 200px;
}

.featureItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #4a5568;
  font-size: 0.8rem;
}

.featureIcon {
  width: 16px;
  height: 16px;
  margin-right: 0.4rem;
}

/* Button */
.planButton {
  margin-top: 1rem;
  padding: 0.875rem 2rem;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

/* Swiper custom styles */
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  display: none;
}

:global(.swiper-button-next:after),
:global(.swiper-button-prev:after) {
  display: none;
  font-size: 1.2rem !important;
}

:global(.swiper-pagination-bullet) {
  background: #eb3778 !important;
  width: 10px;
  height: 10px;
}

:global(.swiper-pagination-bullet-active) {
  background: #eb3778 !important;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .membershipPlansContainer {
    padding: 4rem 1rem;
    height: auto;
  }
  .planContent {
    padding: 1rem;
  }
  .planTitle {
    font-size: 1.5rem;
  }
  .price {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .membershipPlansContainer {
    padding: 3rem 0.5rem;
    height: auto;
  }
  .planCard {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  .planImageContainer {
    height: 200px;
  }
  .planTitle {
    font-size: 1.5rem;
  }
  .price {
    font-size: 1rem;
  }
  .description {
    font-size: 0.9rem;
  }
  .featureItem {
    font-size: 0.8rem;
  }
  .planButton {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
  .gradientLeft,
  .gradientRight {
    display: none;
  }
}
