.container {
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  color: #000000;
  box-sizing: border-box;
  gap: 20px;
}

.formSection {
  border-top: 1px solid #999999;
  padding: 30px;
  flex: 1;
}

.formTitle {
  size: 24px;
  font-weight: 700px;
}

.formSection p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.terms {
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
}

.terms a {
  color: #ed3a7a;
  text-decoration: none;
}

.email {
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}

.email a {
  color: #ed3a7a;
  text-decoration: none;
}
